.typewriter {
    width: min(400px, 100vw - 30px);
}

.caret {
    margin-left: 3px;
    width: 4px;
    height: 16px;
    background-color: #000;
    animation: blink 900ms linear infinite;
    transition: opacity;
    display: inline-block;
    transform: translateY(3px);
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}